.search-history {
  display: flex;
  flex-direction: column;
}

.search-item {
  margin-bottom: 0px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.selected-row {
  background-color: #d9dee0;
}

.upload-history-table {
  border-radius: 10px;
}
